h1, h2, h3, h4, h5, h6, p, a, span, li, button, input{
    font-family: 'Inter', sans-serif;
}

.title{
    font-weight: 700;
    font-size: 1.625rem;
}

.title.one{
    font-size: 1.375rem;
}

.title.two{
    font-size: 1.125rem;
}

.title.three{
    font-size: 0.875rem;
}

.text{
    font-weight: 400;
}

.text.oneText{
    font-size: 1rem;
}

.text.twoText{
    font-size: 0.875rem;
}

.text.threeText{
    font-size: 0.75rem;
}

